################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NayeemWebApi/.vs/NayeemWebApi/FileContentIndex
/NayeemWebApi/.vs/NayeemWebApi/v17
/NayeemWebApi/NayeemWebApi/obj/Debug/net6.0
/NayeemWebApi/NayeemWebApi/bin/Debug/net6.0
/NayeemWebApi/NayeemWebApi/obj
